.cvLink {
    color: inherit;
    font-size: 12px;
}

.cvLink button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    border: none;
    color: inherit;
}
  
.cvLink span {

    font-size: 14px;
    line-height: 14px;
    font-weight: 300;
}
