:root {
  --primary-font-color: white;
  --primary-link-color: #a1cdff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: #30454e;
  color: #e3e2ed;
  font-weight: 200;
  letter-spacing: 1px;
}

a {
  color: var(--primary-link-color);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

li {
  list-style-type: none;
}
