.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;
}

.main section {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 3rem;
  /* font-family: var(--font-mono); */
  color: var(--primary-glow);
  letter-spacing: 1.6px;
}

.ceoLogo {
  width: 250px;
  height: 50px;
}

.aidLogo {
  width: 350px;
  height: 50px;
}

.cascaLogo {
  width: 160px;
  height: 32px;
}

.anvardaLogo {
  height: 55px;
  width: 220px;
}