.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;
  position: relative;

  /* background-image: url("/images/art-deco.webp"); */
}

.main p {
  margin: 16px 0;
}

.main section, .main header {
  margin: 40px 0;
}

.column {
  max-width: 500px;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 40px;
  cursor: default;
  font-weight: 400;
  line-height: 46px;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cvLink {
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transform: translateX(-6px);
  color: inherit;
  font-size: 12px;
}

.cvContainer img { display: flex; }

.selfieWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6c6c6c;
  height: 180px;
  width: 180px;
  padding: 10px;
  border-radius: 100%;
}

.selfie {
  height: 170px;
  width: 170px;
  display: flex;
  border-radius: 100%;
}


/* Description Section */

.techList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}










/* .ceoLogo {
  width: 250px;
  height: 50px;
}

.aidLogo {
  width: 350px;
  height: 50px;
}

.cascaLogo {
  width: 160px;
  height: 32px;
}

.anvardaLogo {
  height: 55px;
  width: 220px;
} */